{% extends 'main.html' %}

{% block content %}
<div id="content__page__header" class="d-flex justify-content-between align-items-center">
    <span>Cars</span>
    <a href="{{ url_for('new_car') }}" class="btn btn-primary">Add new car</a>
</div>
<div id="content__page__body">
    <table class="table">
        <thead>
        <tr>
            <th style="width: 15%">Model</th>
            <th style="width: 15%">Cost</th>
            <th style="width: 15%">Number</th>
            <th style="width: 15%">Color</th>
            <th style="width: 20%">Student name</th>
            <th style="width: 20%">Student name</th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars: %}
        <tr>
            <td>{{ car.Model }}</td>
            <td>{{ car.Cost }}</td>
            <td>{{ car.Number }}</td>
            <td>{{ car.Color }}</td>
            <td>{{ car.Student.Student_name }}</td>
            <td>{{ car.Student.Student_surname }}</td>
            <td class="d-flex justify-content-end">
                <a href="{{ url_for('update_car', uuid=car.Card_id) }}" class="btn btn-success">Edit</a>
                <form method="post" action="{{ url_for('delete_car', uuid=car.Card_id) }}"
                      class="delete-record">
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
Format is D.M.Y only!