{% extends 'main.html' %}

{% block content %}
<div id="content__page__header" class="d-flex justify-content-between align-items-center">
    <span>Works</span>
    <a href="{{ url_for('new_show') }}" class="btn btn-primary">Create new work</a>
</div>
<div id="content__page__body">
    <table class="table">
        <thead>
        <tr>
            <th style="width: 25%">Position</th>
            <th style="width: 25%">Salary</th>
            <th style="width: 25%">Start_date</th>
            <th style="width: 25%">End_date</th>
        </tr>
        </thead>
        <tbody>
        {% for show in shows: %}
        <tr>
            <td>{{ show.Position }}</td>
            <td>{{ show.Salary }}</td>
            <td>{{ show.Start_date.strftime("%d-%b-%Y") }}</td>
            <td>{{ show.End_date.strftime("%d-%b-%Y") }}</td>
            <td class="d-flex justify-content-end">
                <a href="{{ url_for('update_show', uuid=show.Work_id) }}" class="btn btn-success">Edit</a>
                <form method="post" action="{{ url_for('delete_show', uuid=show.Work_id) }}"
                      class="delete-record">
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
Format is D.M.Y only!