{% extends 'main.html' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center" id="content__page__header">
    <span>Questions</span>
    <a class="btn btn-primary" href="{{url_for('new_question')}}">Create new question</a>
</div>
<div id="content__page__body">
    <table class="table">
        <thead>
        <tr>
            <th style="width: 45%">Question</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions: %}
        <tr>
            <td>{{question.Questions}}</td>
            <td class="d-flex justify-content-end">
                <a class="btn btn-success" href="{{url_for('update_question', uuid=question.Question_id)}}">Edit</a>
                <form action="{{url_for('delete_question', uuid=question.Question_id)}}" class="delete-record"
                      method="post">
                    <input class="btn btn-danger" type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}