{% extends "index.html" %}

{% block content %}


<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">student_name</th>
            <th scope="col">student_group</th>
            <th scope="col">name</th>
            <th scope="col">type</th>
            <th scope="col">vacancy</th>
            <th scope="col">creation_date</th>
        </tr>
        </thead>
        <tbody>
        {% for skill in skills%}
        <tr>
            <td> {{skill.student_name}} </td>
            <td> {{skill.student_group}} </td>
            <td> {{skill.name}}</td>
            <td> {{skill.type}}</td>
            <td> {{skill.vacancy}}</td>
            <td> {{skill.creation_date}}</td>
            <td>
                <a href="/update" title="edit button">
                    <button type="button" class="btn btn-warning" name="btn_edit_user"
                            data-user_id="{{skill.student_name}}">Edit
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!--<script src="{{ url_for('static', filename='js/skill.js') }}"></script>-->

{% endblock %}